/*Inputting background Image*/
section {
    background-image: url("documentation/images/teal-logo.png");
    background-position: center center;
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
}
/*Changing size of logo*/
#logo {
    height: 40px;
}
/*Changing navbar button colors*/
.nav-pills .nav-link.active {
    background-color: #00ad9a;
}
.nav-link {
    color: #00ad9a;
}