body {
    background-image: url("documentation/wireframes/Sub-Page-Mobile-page-4.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
}