body {
    background-image: url("documentation/images/teal-logo.png");
    background-position: center center;
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
}